@import "src/Variables.scss";

.text-input {
  background-color: transparent;
  color: inherit;
  outline: none;
  border: 2px solid $main;
  padding: 5px 10px;
  border-radius: 10px;
  width: 100%;
}
