.agregar-elemento {
  .form {
    width: 100%;
    min-width: 250px;
    margin: 0 auto;
    max-width: 1000px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    button {
      width: 100%;
      margin: 0;
    }
  }
}
