.crear-cuenta {
  .form {
    width: 100%;
    margin: 0 auto;
    min-width: 250px;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a {
      text-decoration: underline;
    }

    button {
      width: 100%;
    }
  }
}
